body{
    margin:0;
    padding:0;
    
    
}
button{
    text-align: center;
    margin-top: 150px;
    margin-left: 250px;
    background-color:cyan;
    border-color: yellow;
    color:white;
    padding-right: 25px;
    padding-left: 25px;
    font-style: italic;
    font-size: 60px;
    

    
}
 .btn{
    box-shadow: 0 0 1px ,cyan
    0 0 2px cyan;

}

.btn:hover{
    box-shadow:0 0 5px cyan,
    0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan, 0 0 300px cyan;

    
}